<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>


<div class="container text-center mt-5">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Task</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "task: ${tasks}">
                    <th scope="row" th:text="${task.id}"></th>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.price}"></td>
                    <td>

                        
                    </td>

                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-2">

        </div>
    </div>
</div>

</body>
</html>
