<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<style>
            body {
                background-color: #2B7DA9; /* Este es un color azul eléctrico */
            }
        </style>
    </head>
    <body class="container">
        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container text-center">
                <div class="row">
                    <a class="navbar-brand" href="#">
                        <img src="/images/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
                        MR. MOTOR MASTER
                    </a>
                    <ul class="nav justify-content-around flex-grow-1">
                        <li class="nav-item flex-grow-1 text-center"><a class="btn btn-dark" th:href="@{/users}">Users</a></li>
                        <li class="nav-item flex-grow-1 text-center"><a class="btn btn-light" th:href="@{/vehicles}">Vehicles</a></li>
                        <li class="nav-item flex-grow-1 text-center"><a class="btn btn-dark" th:href="@{/repairs}">Repairs</a></li>
                        <li class="nav-item flex-grow-1 text-center"><a class="btn btn-light" th:href="@{/tasks}">Tasks</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
<body class="container"> 


<div class="container text-center mt-5">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <a  th:if="${isAdmin}">Eres Admin</a>
            <a  th:if="${isUser}">Eres User</a> 
            
            
            <a class="btn btn-info" th:href="@{/task-form}">Crear task</a> 
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Task</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                    
                <tbody>
                <tr th:each = "task: ${tasks}">
                    <th scope="row" th:text="${task.id}"></th>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.price}"></td>
                    <td>
                        <td>
    <a class="btn btn-success" th:href="@{/tasks/view/{id}(id=${task.id})}">Ver</a>                        
    <a class="btn btn-primary" th:href="@{/tasks/edit/{id}(id=${task.id})}" th:if="${isAdmin}">Editar</a>                    
    <a class="btn btn-danger" th:href="@{/tasks/delete/{id}(id=${task.id})}">Borrar</a>
</td>

                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-2">

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
