<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container text-center">
            <div class="row">
            <ul class="nav justify-content-center">
                <div class="col">
                    <li class="nav-item"><a class="btn btn-dark" th:href="@{/users}">Users</a></li>
                </div>
                <div class="col">
                    <li class="nav-item"><a class="btn btn-light" th:href="@{/vehicles}">Vehicles</a></li>
                </div>
                <div class="col">
                    <li class="nav-item"><a class="btn btn-dark" th:href="@{/repairs}">Repairs</a></li>
                </div>
                <div class="col">
                    <li class="nav-item"><a class="btn btn-light" th:href="@{/tasks}">Tasks</a></li>
                </div>
            </ul>
            </div>
        </div>
    </nav>
<body>


<div class="container text-center mt-5">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">

            <a class="btn btn-info" th:href="@{/task-form}">Crear task</a> 
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Task</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                    
                <tbody>
                <tr th:each = "task: ${tasks}">
                    <th scope="row" th:text="${task.id}"></th>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.price}"></td>
                    <td>
                        <td>
    <a class="btn btn-success" th:href="@{/tasks/view/{id}(id=${task.id})}">Ver</a>                        
    <a class="btn btn-primary" th:href="@{/tasks/edit/{id}(id=${task.id})}" th:if="${isAdmin}">Editar</a>                    
    <a class="btn btn-danger" th:href="@{/tasks/delete/{id}(id=${task.id})}">Borrar</a>
</td>

                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-2">

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
