
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles del Usuario y Vehículo</title>
</head>
<body>
    <h1>Detalles del Usuario</h1>
    <p th:text="${user.name}">Nombre: </p>
    <p th:text="${user.nif}">NIF: </p>
    <p th:text="${user.phone}">Teléfono:</p>
    <p th:text="${user.email}">Correo Electrónico: </p>

    <h2>Detalles del Vehículo</h2>
    <table>
        <tr>
            <th>Number Plate</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Color</th>            
            <th>KM</th>
            <th>History</th>
        </tr>
        <tr th:each="vehicle : ${vehicles}">
            <td th:text="${vehicle.numberPlate}"></td>
            <td th:text="${vehicle.brand}"></td>
            <td th:text="${vehicle.model}"></td>
            <td th:text="${vehicle.color}"></td>            
            <td th:text="${vehicle.km}"></td>
            <td>
                <a th:href="@{'/view/' + ${vehicle.numberPlate}}">
                    <button type="button">VIEW</button>
                </a>
            </td>
        </tr>
    </table>
</body>
</html>
