<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="container">
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container text-center">
            <div class="row">
            <ul class="nav justify-content-center">
                <div class="col">
                    <li class="nav-item"><a class="btn btn-dark" th:href="@{/users}">Users</a></li>
                </div>
                <div class="col">
                    <li class="nav-item" ><a class="btn btn-light" th:href="@{/vehicles}">Vehicles</a></li>
                </div>
                <div class="col">
                    <li class="nav-item" th:if="${isAdmin || isMecanico}"><a class="btn btn-dark" th:href="@{/repairs}">Repairs</a></li>
                </div>
                <div class="col">
                    <li class="nav-item" th:if="${isAdmin || isMecanico}"><a class="btn btn-light" th:href="@{/tasks}">Tasks</a></li>
                </div>
            </ul>
            </div>
        </div>
    </nav>
    <h1 class="my-4">Usuarios</h1>
    <!-- Search Bar -->
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>NIF</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Role</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.nif}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.cargo}"></td>
                <td>
                    <a th:href="@{/users/{nif}(nif=${user.nif})}" class="btn btn-primary">VIEW</a>
                </td>
                <td>
                    <a th:href="@{/updateUser/{nif}(nif=${user.nif})}" class="btn btn-warning">EDIT</a>
                </td>
                <td>
                    <a th:href="@{/deleteUser/{nif}(nif=${user.nif})}" class="btn btn-danger" onclick="return confirm('Are you sure to delete this User?');">DELETE</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
