<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   
<head>
    <meta charset="UTF-8">
    <title>Vehicle Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <h2>Vehicle Details</h2>

    <dl>
        <dt>Number Plate:</dt>
        <dd th:text="${vehicle.numberPlate}"></dd>

        <dt>Brand:</dt>
        <dd th:text="${vehicle.brand}"></dd>

        <dt>Model:</dt>
        <dd th:text="${vehicle.model}"></dd>

        <dt>Color:</dt>
        <dd th:text="${vehicle.color}"></dd>

        <dt>Fabrication Year:</dt>
        <dd th:text="${vehicle.fabricationYear}"></dd>

        <dt>Km:</dt>
        <dd th:text="${vehicle.km}"></dd>
    </dl>

    <!-- Enlaces de Update y Delete -->
    <p>
        <a class="btn btn-success" th:href="@{'/update/' + ${vehicle.numberPlate}}">Update</a>
        <a class="btn btn-danger" th:href="@{'/delete/' + ${vehicle.numberPlate}}" onclick="return confirm('Are you sure to delete this vehicle?');">Delete</a>
    </p>
</body>
</html>
