<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Vehicles</title>
</head>
<body>
    <h2>List of Vehicles</h2>
    
            <a th:href="@{/vehicle}"> Add Vehicle</a><br />
    
    <table>
        <tr>
            <th>Number Plate</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Color</th>
            <th>FabricationYear</th>
            <th>Km</th>
        </tr>
        <tr th:each="vehicle : ${vehicles}">
            
            <td th:text="${vehicle.numberPlate}"></td>
            <td th:text="${vehicle.brand}"></td>
            <td th:text="${vehicle.model}"></td>
            <td th:text="${vehicle.color}"></td>
            <td th:text="${vehicle.fabricationYear}"></td>
            <td th:text="${vehicle.km}"></td>
            <td>
                <a th:href="@{'/view/' + ${vehicle.numberPlate}}">View</a>
            </td>
        </tr>
    </table>
</body>
</html>